<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" data-bs-toggle="offcanvas" href="#sideMenu"
      >Navbar</a
    >

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let menu of menuList; let i = index">
          <a class="nav-link" [routerLink]="menu.url">{{ menu.title }}</a>
        </li>
      </ul>

      <!-- state: {{ authService.IsAuthenticated() }} -->

      <div class="ms-auto" *ngIf="authService.IsAuthenticated()">
        <div class="btn-group" dropdown>
          <button
            id="button-animated"
            dropdownToggle
            type="button"
            class="btn btn-secondary dropdown-toggle"
            aria-controls="dropdown-animated"
          >
            <span class="caret"></span>
          </button>
          <ul
            id="dropdown-animated"
            *dropdownMenu
            class="dropdown-menu"
            role="menu"
            aria-labelledby="button-animated"
          >
            <li role="menuitem">
              <a class="dropdown-item" (click)="logOut()">Oturumu Kapat</a>
            </li>
          </ul>
        </div>

        <span>{{ email }}</span>
      </div>
    </div>
  </div>
</nav>
